<footer class="footer">
	<div class="footer__container container">
		<div class="footer__left">
			<a href="#" class="footer__by">by stmn.io</a>
			<img src="./assets/img/stmn.png" alt="img" aria-hidden="true" />
		</div>
		<div class="footer__right">
			<ul class="footer-menu">
				<li>
					<a href="#" class="footer__link border-bottom-line_rotated"
						>Peach-deck</a
					>
				</li>
				<li>
					<a
						href="mailto:infog@noframe.io"
						class="footer__link footer__contacts"
					>
						<span>contacts:</span>
						<span>infog@noframe.io</span>
					</a>
				</li>
			</ul>
			<ul class="footer-social">
				<li>
					<a href="#" class="footer-social__link">
						<img
							width="28"
							height="28"
							src="./assets/img/social1.png"
							alt="img"
							aria-hidden="true"
						/>
					</a>
				</li>
				<li>
					<a href="#" class="footer-social__link">
						<img
							width="28"
							height="28"
							src="./assets/img/social2.png"
							alt="img"
							aria-hidden="true"
						/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
