<header class="header">
	<div class="header__container container">
		<a href="#" class="header__logo logo"
			><img width="204" height="31" src="./assets/img/logo.svg" alt="logo"
		/></a>
		<div class="header__navigation">
			<nav class="nav header__nav">
				<ul class="nav__list">
					<li>
						<a href="#" class="nav__link border-bottom-line_rotated"
							>Yielder Scroll Bot</a
						>
					</li>
					<li>
						<a href="#" class="nav__link border-bottom-line">Docs</a>
					</li>
				</ul>
				<button class="btn">Coming soon..</button>
			</nav>
		</div>
	</div>
</header>
