<section class="hero">
	<div class="container">
		<h1 class="title">
			Data-Driven Strategies <br />
			based on&nbsp; <span>defi-native derivatives.</span>
		</h1>
		<div class="mobile-cards">
			<div class="mobile-cards__left"></div>
			<div class="mobile-cards__right"></div>
		</div>
		<ul class="mobile-menu">
			<li>
				<a href="#" class="mobile-menu__link border-bottom-line_rotated link"
					>Yielder Scroll Bot</a
				>
			</li>
			<li>
				<a href="#" class="mobile-menu__link border-bottom-line_rotated link"
					>Docs</a
				>
			</li>
			<li>
				<a href="#" class="mobile-menu__link border-bottom-line_rotated link"
					>Peach-deck</a
				>
			</li>
		</ul>
	</div>
</section>

