<div class="accordions-parent">
	<div class="accordion">
		<button class="accordion-toggle">
			<h6 class="accordion-title">How can i Install?</h6>
			<svg
				class="accordion-arrow"
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				fill="none"
			>
				<path fill-opacity="0.01" d="m9 18 6-6-6-6"></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="m9 18 6-6-6-6"
				></path>
			</svg>
		</button>
		<div class="accordion-wrapper">
			<div class="accordion-content">
				<p class="accordion-text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, et
					reiciendis voluptas, nam itaque autem maxime cupiditate, quo aperiam
					placeat ullam obcaecati similique asperiores omnis. Aliquid a officia
					numquam reprehenderit.
				</p>
			</div>
		</div>
	</div>
</div>
