@font-face {
	font-family: 'Noto Mono';
	src: url('../fonts/NotoMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'UA-brand';
	src: url('../fonts/ua-BRAND-black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}
